.button {
    padding: 0 1rem;
}

.desktop {
    display: inline;
}

.mobile {
    display: none;
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: inline;
    }

    .button {
        padding: 1rem;
        
        display: flex;
        justify-content: start;
    }
}